$white: #FFFFFF;
$black: #000000;

$grey-1: #DEDEDE;
$grey-2: #F2F5F6;
$grey-3: #ECECEC;
$grey-4: #666666;
$grey-5: #999999;
$grey-6: #88959E;
$grey-7: #2E2E2E;
$grey-8: #F5F5F5;
$grey-9: #E6E6E6;
$grey-10: #B5B2B2;
$grey-11: #EEEFF0;
$grey-12: #DFDFDF;
$grey-13: #CACACA;
$grey-14: #FBFBFB;
$grey-15: #EDEDED;
$grey-16: #F1F1F1;
$grey-17: #C2C4C5;

$primary: #307DC1;
$primary-2: #0080DA;
$primary-3: #29A0F6;
$primary-light: #F1F9FF;
$primary-light-2: #F8FCFE;
$primary-light-3: #AECADF;
$primary-light-4: #22629A;

$error: #E53326;
$success: #8ACE33;

$box-shadow-1: rgba(0, 0, 0, 0.25);